*{

}
.top_block{

}
.icon_name{

}
.address{

}
.keyword{

}
.main_content{

 }
.header{

}
.left_column{
    width: 45%;
    float: left;
}
.right_column{
    width: 45%;
    float: left;
}
.left_column_skills{
    width: 40%;
    float: left;
}
.right_column_skills{
    width: 40%;
    float: left;
}